* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background: #131313;
  height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5em;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
}

.navbar #navbar__logo {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  margin-left: 1.5em;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item {
  height: 5em;
}

.navbar__links {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  height: 100%;
  padding: 0 1rem;
}

.navbar__links:hover {
  color: #8f050c;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 1rem;
  width: 100%;
}

.navbar .button {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  background: white;
  padding: 1em 2em;
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 4px;
}

.navbar .button:hover {
  background-color: #8f050c;
  color: white;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.main {
  background-color: #141414;
}

.main__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
  height: 90vh;
  background-color: #141414;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  padding-right: 3em;
  padding-left: 3em;
}

.main__content {
  width: 100%;
}

.main__content h1 {
  font-size: 3.5rem;
  color: white;
}

.main__content h1 .text-highlight {
  color: #0071f3;
}

.main__content p {
  font-size: 2.5rem;
  margin-top: 0.5em;
  font-weight: 100;
  color: #dbdbdb;
}

.main__btn {
  font-size: 1rem;
  padding: 1em 2em;
  background: #fff;
  border: none;
  border-radius: 4px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
}

.main__btn:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #782605;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  border-radius: 4px;
}

.main__btn:hover:after {
  width: 100%;
}

.main__btn a {
  position: relative;
  z-index: 2;
  color: #000;
  text-decoration: none;
}

.main__img--container {
  text-align: center;
}

.main__img {
  height: 26em;
  width: 24em;
  border-radius: 2em;
}

.images {
  background-color: #141414;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 7rem;
}

.images h1 {
  color: #fff;
  margin: 1em 0 2em 0;
  font-size: 5rem;
  text-align: center;
}

.images__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.images__card {
  margin: 1rem;
  height: 22em;
  width: 20em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0)), to(rgba(17, 17, 17, 0.6))), url("/imgs/monkey-2.jpg");
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/imgs/monkey-2.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.images__card:before {
  opacity: 0.2;
}

.images__card h2 {
  position: absolute;
  top: 8%;
  left: 5%;
  font-size: 1.3rem;
}

.images__card p {
  top: 15%;
  left: 5%;
  position: absolute;
  font-size: 1rem;
}

.images__card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  cursor: pointer;
}

.images__card:nth-child(2) {
  margin: 1rem;
  height: 22em;
  width: 20em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0)), to(rgba(17, 17, 17, 0.6))), url("/imgs/monkey.jpg");
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/imgs/monkey.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.images__card:nth-child(3) {
  margin: 1rem;
  height: 22em;
  width: 20em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0)), to(rgba(17, 17, 17, 0.6))), url("/imgs/cat-2.jpg");
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/imgs/cat-2.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.images__card:nth-child(4) {
  margin: 1rem;
  height: 22em;
  width: 20em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0)), to(rgba(17, 17, 17, 0.6))), url("/imgs/monkey-3.jpg");
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/imgs/monkey-3.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.images__card:nth-child(5) {
  margin: 1rem;
  height: 22em;
  width: 20em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0)), to(rgba(17, 17, 17, 0.6))), url("/imgs/cat.jpg");
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/imgs/cat.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.images__card:nth-child(6) {
  margin: 1rem;
  height: 22em;
  width: 20em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 37, 37, 0)), to(rgba(17, 17, 17, 0.6))), url("/imgs/monkey-4.jpg");
  background-image: linear-gradient(to bottom, rgba(37, 37, 37, 0) 0%, rgba(17, 17, 17, 0.6) 100%), url("/imgs/monkey-4.jpg");
  background-size: 100% 100%;
  border-radius: 20px;
  background-repeat: no-repeat;
  position: relative;
  color: #fff;
}

.footer__container {
  background-color: #141414;
  padding: 5rem 0;
  text-align: center;
}

.website__rights {
  color: white;
}

@media screen and (max-width: 960px) {
  .navbar__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 5em;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
  }
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    width: 100%;
    position: absolute;
    top: -1000em;
    opacity: 1;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 50vh;
    z-index: -1;
  }
  .navbar__menu.active {
    background: black;
    top: 100%;
    opacity: 1;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    z-index: 99;
    height: 50vh;
    font-size: 1.5rem;
  }
  .navbar__toggle .bar {
    width: 2em;
    height: 0.21em;
    border-radius: 10px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
  }
  .navbar__item {
    width: 100%;
  }
  .navbar__links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }
  .navbar__btn {
    padding-bottom: 2rem;
  }
  .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 80%;
    height: 5em;
    margin-bottom: 1rem;
  }
  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    -webkit-transform: translate(5%, 30%);
            transform: translate(5%, 30%);
  }
  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }
  #mobile-menu.is-active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  #mobile-menu.is-active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
}

@media screen and (max-width: 800px) {
  .main__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90vh;
  }
  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }
  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 800px) and (max-width: 480px) {
  .main__content h1 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .main__content p {
    font-size: 2rem;
    margin-top: 1.5rem;
  }
  .main__btn {
    padding: 1em 2em;
    margin: 2.5rem 0;
  }
}
/*# sourceMappingURL=style.css.map */